.coffee-about {
   &__search {
      display: flex;
      margin: 60px 0 60px 0;
      justify-content: center;
      align-items: center;
   }

   &__supplies {
      display: flex;
      justify-content: center;
   }
}
