.coffee-perfomance {
   height: 640px;
   background: url('../../resources/img/main-bg.jpg') center/cover no-repeat;

   &__wrapper {
      padding: 181px 385px 201px 385px;
   }

   &__header {
      font-weight: 700;
      font-size: 40px;
      color: #fff;
      text-align: center;
   }

   &__divider {
      margin-top: 20px;
      text-align: center;
   }

   &__subheader {
      margin-top: 35px;
      text-align: center;
      color: #fff;
      font-weight: 700;
      font-size: 24px;
   }

   .mt20px {
      margin-top: 20px;
      text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
   }

   .btn-more {
      display: block;
      margin: 18px auto 0 auto;
      width: 120px;
      height: 30px;
      background-color: transparent;
      border: 1px solid;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;

      font-weight: 700;
      font-size: 14px;
      color: #fff;

      &:hover {
         background-color: #fff;
         border-color: #fff;
         color: #000;
         transform: scale(1.05);
      }
   }

   &__about {
      padding: 80px 425px 101px 425px;
      height: 520px;

      &-header {
         font-weight: 400;
         font-size: 24px;
         color: #000;
         text-align: center;
      }

      &-descr {
         width: 589px;
         margin-top: 41px;
         font-weight: 400;
         font-size: 14px;
         text-align: center;
         color: #000;
      }
   }

   &__best {
      padding: 80px 320px 110px 320px;
      height: 495px;
      background: url('../../resources/img/best-bg.jpg');

      &-header {
         font-weight: 400;
         font-size: 24px;
         text-align: center;
         color: #000;
         margin-bottom: 39px;
      }

      &-items {
         width: 800px;
         display: flex;
         justify-content: space-between;
         align-items: flex-start;
         margin: 0 auto;
      }

      &-item {
         width: 220px;
         height: 240px;
         background-color: rgba(255, 247, 247, 0.5);
         border-radius: 10px;
         padding: 22px 0 84px 0;

         &:last-child {
            padding: 37px 0 22px 0;
         }
      }

      &-img {
         display: block;
         margin: 0 auto 14px auto;
      }

      &-title {
         font-weight: 400;
         font-size: 14px;
         text-align: center;
      }

      &-price {
         font-weight: 700;
         font-size: 14px;
         color: #000;
         margin: 10px 20px 0 0;
         display: flex;
         justify-content: flex-end;
      }
   }
}
