.coffee-list {
   width: 800px;
   display: grid;
   grid-template-columns: repeat(3, 210px);
   justify-content: center;
   align-items: flex-start;
   gap: 60px;
   margin-top: 32px;

   &__item {
      border-radius: 8px;
      width: 210px;
      height: 260px;
      text-align: center;
      box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
      padding: 37px 0 22px 0;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
         transform: translateY(-10px);
         box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.35);
      }
   }

   &__img {
      display: block;
      margin: 0 auto 14px auto;
   }

   &__header {
      font-weight: 400;
      font-size: 14px;
      text-align: center;
      color: #000;
   }

   &__country,
   &__price {
      font-weight: 700;
      font-size: 14px;
      color: #000;
      display: flex;
      justify-content: flex-end;
   }

   &__price {
      margin: 14px 25px 0 0;
   }

   &__country {
      margin: 14px 27px 0 0;
   }

   a {
      text-decoration: none;
   }
}

@media (max-width: 992px) {
   .coffee-list {
      width: 750px;
   }
}

@media (max-width: 768px) {
   .coffee-list {
      grid-template-columns: repeat(2, 210px);
   }

   .coffee-about {
      &__search {
         flex-direction: column;
         gap: 20px;
      }
   }
}

@media (max-width: 576px) {
   .coffee-list {
      grid-template-columns: 1fr;
      justify-items: center;
   }
}
